body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 2em 0em;
  background-color: #e9deca;
  color: #514538;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#dreamCard {
  background-color: #e9deca;
}

/*RANDOM/SUBMIT BUTTON*/
.btn-success {
  background-color: #4a7140 !important;
  border-color: #4a7140 !important;
}

/*DREAM LIST*/
.btn-outline-success {
  background-color: #ffffff !important;
  border-color: #4a7140 !important;
  color: #4a7140 !important;
}

/*RANDOM/SUBMIT BUTTON*/
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #4a7140 !important;
  border-color: #4a7140 !important;
  box-shadow: 0 0 0 0rem;
}

/*HOW BUTTON*/
.btn-outline-info {
  color: #cc8759 !important;
  border-color: #cc8759 !important;
  background-color: #ffffff !important;
}

/*HOW BUTTON*/
.btn-outline-info:hover {
  color: #ffffff !important;
  border-color: #cc8759 !important;
  background-color: #cc8759 !important;
}

/*HOW BUTTON*/
.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
  color: #ffffff !important;
  border-color: #cc8759 !important;
  background-color: #cc8759 !important;
}

/*HOW BUTTON*/
.btn-outline-info:focus,
.btn-outline-info.focus {
  box-shadow: 0 0 0 0rem !important;
}

/*HOW ADD BUTTON*/
.btn-info {
  color: #fff;
  background-color: #cc8759 !important;
  border-color: #cc8759 !important;
}

/*DELETE BUTTON*/
.btn-danger {
  color: #fff;
  background-color: #ad2e24 !important;
  border-color: #ad2e24 !important;
}

.btn-warning {
  color: #ffffff !important;
  background-color: #264653 !important;
  border-color: #264653 !important;
}

/*WHY BUTTON*/
.btn-outline-warning {
  color: #264653 !important;
  border-color: #264653 !important;
  background-color: #ffffff;
}

.btn-outline-warning:hover {
  color: #ffffff !important;
  background-color: #264653 !important;
  border-color: #264653 !important;
}

.btn-outline-warning:not(:disabled):not(.disabled):active,
.btn-outline-warning:not(:disabled):not(.disabled).active,
.show > .btn-outline-warning.dropdown-toggle {
  color: #ffffff !important;
  background-color: #264653 !important;
  border-color: #264653 !important;
}

.btn-outline-warning:focus,
.btn-outline-warning.focus {
  box-shadow: 0 0 0 0rem !important;
}

/*BACK BUTTON*/
.btn-secondary {
  color: #fff !important;
  background-color: #514538 !important;
  border-color: #514538 !important;
}

.btn-primary {
  color: #ffffff !important;
  background-color: #e09f3e !important;
  border-color: #e09f3e !important;
}
